<div class="chess_box">
    <div class="chess_row">
        <a href="javascript:;" class="op"></a>
        <a href="javascript:;" id="cho4" class="active"></a>
        <a href="javascript:;" class="op"></a>
    </div>
    <div class="chess_row">
        <a href="javascript:;" id="cho2" class="active"></a>
        <a href="javascript:;" id="cho1" class="active"></a>
        <a href="javascript:;" id="cho3" class="active"></a>
    </div>
    <div class="chess_row">
        <a href="javascript:;" class="op"></a>
        <a href="javascript:;" id="cho5" class="active"></a>
        <a href="javascript:;" class="op"></a>
    </div>
</div>
<input type="hidden" id="cho_chess" value="{$cho}" />

<script type="text/javascript">
    var chess = {$chess|json_encode};
</script>