<meta charset="utf-8">
<title>Chess</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">

<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v=1234567" rel="stylesheet">
<link href="__CDN__/assets/css/all.css?v=1234567" rel="stylesheet">

<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>